* {
    font-family: ArtifaktElement;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* font-family: ArtifaktElement; */
}

#titleBlock, #preview, #overlay {
    position: absolute;
    width: 100%;
}

#titleBlock {
    /* box-sizing: content-box; Default value, padding and border are not included in width/height */

    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#input {
    display: none;
}

#preview, #overlay {
    top: 3em;
    bottom: 0;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
}

#overlay > .notification {
    margin: auto;
    padding: 1em;
    max-width: 50%;
    background: white;
}

#searchoverlay {
    position: absolute;
    left: 50%;
    top: 4em; /* adjust this value to control the top offset */ 
    transform: translateX(-50%);
    z-index: 1;
}

#titleBlock > * {
    height: 2em;
    margin: 0 0.5em;
    font-size: 1em;
    /* font-family: ArtifaktElement; */
}

#titleBlock .title {
    flex: 0 0 auto;
    height: auto;
}

#models {
    flex: 1 1 auto;
    min-width: 2em;
} 

/* .select2-container {
    height: 30px !important;
    padding: auto !important;
} */

.select2-selection--multiple {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 10px;
}


/* .select2-results__options {
    font-size: 14px;
    overflow: hidden;
    max-height: 400px !important;

}

.select2-selection__arrow {
    display: none;
}*/

.select2-selection__choice {
    color: black;
}

/* .select2-dropdown--below {
    overflow: hidden;
}

.select2-selection--single {
    margin-left: 10px;
} */

label {
    margin-left: 10px;
    /* font-weight: bold; */
}

#notificationContainer {
    position: absolute; /* Changed from absolute to fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's own dimensions */
    width: auto; /* Adjust as per your needs */
    padding: 10px;
    box-sizing: border-box;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
    display: none; /* Initially hidden */
    z-index: 9999;
}

.notification {
    display: inline-block;
}

.googleTableHeader {
    color: black;
    /* font-family: ArtifaktElement; */
    font-weight: bold;
    background-color: lightsalmon;
}

.googleTableRows {
    color: black;
    /* font-family: ArtifaktElement; */
}

.google-visualization-controls-categoryfilter {
    color: black;
    /* color: gr */
}

#toggle_div.on {
    background-color: green;
}

.bootstrap-contents-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
}

.bootstrap-contents-div * {
    box-sizing: border-box;
}

